{
  "realm": "AppStack",
  "auth-server-url": "http://student.prodops-fico.com/auth/",
  "ssl-required": "none",
  "resource": "student",
  "verify-token-audience": true,
  "credentials": {
    "secret": "a606b7a8-ad84-4cae-a538-36b90eaa4734"
  },
  "confidential-port": 0,
  "policy-enforcer": {}
}
